<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="compose-class">
            <label for="">Title</label>
            <input  class="form-control" type="text"  name="postTitle" placeholder="Blog Title" >
            <label for="">Post</label>
            <textarea id ="newclass" class="" name="postData" cols="40" rows="5" placeholder="About Blog"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>
    <div id="newclass"><p>This is some sample content.</p></div>
    <script src="/css/test.js"></script>
<%- include('partials/footer'); -%>