.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

body {
  background-color: #95a5ab;
  color: rgb(29, 29, 33);
}

.form-control {
  background-color: rgb(19, 177, 201);
  color: rgb(6, 6, 6);
}

.compose-class .form-control::-webkit-input-placeholder {
  color: rgb(95, 98, 95);
}

.compose-button {
  padding: 15px 32px;
  margin: -10px;
  border: 100px;
  box-sizing: border-box;
  color: black;
  background-color: rgba(255, 0, 255, 0.667);
}

.login-button {
  padding: 15px 32px;
  margin: -10px;
  border: 100px;
  box-sizing: border-box;
  color: black;
  background-color: rgba(0, 26, 255, 0.667);
  margin: -150px auto;
}

/* .compose-new {
  margin-left: -25rem;
  margin-top: -5rem;
} */

.post-data {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.post-title {
  font-family: "Times New Roman", Times, serif;
  color: rgb(148, 120, 160);
}

/* .home-data {
  font-family: "Times New Roman", Times, serif;
} */
/* P {
  font-size: 20px;
} */
.home-content {
  font-size: 20px;
}

.date-time {
  font-size: 15px;
  color: rgba(57, 53, 53, 0.51);
}

#newclass {
  color: red;
  background-color: black;
}

.ck-content {
  width: 1140px;
  height: 150px;
}

.btn-outline-dark {
  color: rgba(255, 0, 255, 0.667);
  background-color: rgb(7, 7, 7);
  margin: auto 80% auto;
  width: 13%;
}

/* ################# */
